@media screen and (max-width: 900px){
    .text-card{
        font-weight: bold;
        text-align: center !important;
    }
    
}


  @media screen and (min-width: 200px) {
    .cards{
        border-color: rgb(4, 164, 68);
        width: 18rem;
        outline: none;
        margin-left: 20rem;
        margin-right: 20rem;
    }
    .text-card{
        font-weight: bold;
        text-align: center !important;

    }

    .card.bg-login{
        height: auto;
        width: 100%;
        background-image: url('asset/img/gmb_daftar.jpeg');
        background-position: center;
        background-size: cover;
    }
    .bg-pop{
        width: 100%;
        height: auto;
        background-image: url('asset/img/amico.png');
        background-position: center;
        background-size: cover;
    
    }
    .row1{
        text-align:center;
        margin:0 auto;
        background-size: cover;
    }
    
    .row1 .col-md-1{
       display:inline-block;
       vertical-align: middle;
       float: none;
    }
    .imageats{
        position: relative;
        z-index: 3;
        top: 0px;
    }
    .pats{
        position: absolute;
        top: 20px;
        z-index: 3;
        color: #fff;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 1rem;
        font-size: large;
    }
    .puts{
        position: absolute;
        top: 20px;
        z-index: 3;
        color: #fff;
        margin-left: 3rem;
        margin-top: 3rem;
        font-size: small;
    }
    .btn-close{
        text-align: end;
        align-items: flex-end;
    }
    .btn-verifikasi{
        background-color: rgb(4, 164, 68);
        width: 100%;
        width: 29rem;
        color: white;
        font-weight: bold;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        
    }
    .btn-login{
        background-color: rgb(4, 164, 68);
        width: 100%;
        width: 16rem;
        color: white;
        font-weight: bold;
    }
    .col-center{
        margin: 5rem;
    }
    .col{
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
      .modal-body{
          margin: 0;
          padding: 0;
      }
      .bg-copy{
          background-color: rgb(4, 139, 58);
          background-size: cover;
          margin: 0 auto;
          width: auto;
          height: 40px; 
          color: #fff;
      }
      .cols{
          width: 40px;
          height: 50px;
          border-radius: 16px;
          text-align: center;
          border-color: rgb(4, 164, 68);
          border-style: double; 
          outline: none;
          margin: 8px;
      }

.bg-ijo{
    background-color: rgb(4, 139, 58);
}
.bg-daftar{
    background-attachment: fixed;
    background-image:linear-gradient(rgba(150, 244, 181, 0.484),rgb(4, 164, 68)), url('../img/bg-daftar.jpeg');
    background-size: auto;
    background-size: cover;
    height: 100vh;
    color:white
    
}
}


body{
    margin: 0;
    padding: 0;
}






